/*.PNG
/*.png
/17.txt
/errors-backup.txt
/facebook_login.html
/gelöscht.txt
/google login button.txt
/index-backup.txt
/Infobox.html
/karte.html
/karte.html.html
/Konto erstellen.html
/login-backup.txt
/mySQL.txt
/register-backup.txt
/server-backup.txt
/sql.txt
/start.html
/start.html.html
/Startbildschirm.html
/sketch_dec20b
/sketch_dec20a
